%header.page-header
  %h1= character.name

%section
  %h2 統計

  %table.table.table-striped.table-bordered.table-condensed
    %caption 概要
    %thead
      %tr
        %th 期間
        %th 日数
        %th 確率 [%]
        %th 回数
    %tbody
      - timespans.each do |item|
        %tr
          %td= item.label
          %td.table-cell-number= currency item.appearance_dates
          %td.table-cell-number= currency '%.1f' % (item.appearance_probability * 100)
          %td.table-cell-number= currency item.appearances

  .scrollable-table-wrapper
    %table.table.table-striped.table-bordered.table-condensed
      %caption 月別
      %thead
        %tr
          %th
          - (1..12).each do |i|
            %th= '%02d' % i
      %tbody
        - greetings_by_month.group_by {|item| item.year }.each do |year, items|
          %tr
            %th= '%04d' % year
            - (1..12).each do |i|
              - if item = items.find {|it| it.month == i }
                %td.table-cell-number= currency item.count
              - else
                %td

  %table.table.table-striped.table-bordered.table-condensed
    %caption 場所別
    %thead
      %tr
        %th 場所
        %th 回数
    %tbody
      - places.each do |item|
        %tr
          %td= item.name
          %td.table-cell-number= currency item.score

%section
  %h2 カレンダー
  .row
    - PurolandGreeting::Schedule.months.each_with_index do |month, index|
      - next_month = month >> 1
      - schedule_days = character.greetings.active.joins(:schedule).where('date >= ? AND date < ?', month, next_month).select("DATE_PART('day', date) AS day").group("DATE_PART('day', date)").order('day').map {|c| month + (c.day.to_i - 1) }
      %section.col-sm-6.col-md-4
        != calendar(month, caption: month.strftime('%Y/%m')) {|day| schedule_days.include?(day) && { href: day.strftime('/schedule/%Y/%m/%d/') } }

      - if index % 3 == 2
        .clearfix.visible-md-block.visible-lg-block
      - if index % 2 == 1
        .clearfix.visible-sm-block
