%header.page-header
  %h1= character.name

%section
  %h2 統計

  %section
    %h3 概要

    %table.table
      %tr
        %th 期間
        %th 登場日数
        %th 登場確率 [%]
        %th 登場回数

      - timespans.each do |item|
        %tr
          %td= item[:label]
          %td= item[:appearances]
          %td= '%.1f' % (item[:appearance_probability] * 100)
          %td= item[:appearance_dates]

  %section
    %h3 月別
    .chart.chart-bar{data: {chart: greetings_by_month}}

  %section
    %h3 場所別
    .chart.chart-pie{data: {chart: places, options: {legend: {position: 'labeled'}}.to_json}}

%section
  %h2 カレンダー
  - food_machine_restaurant = PurolandGreeting::Place.find_by_name('フードマシンレストラン(4F)').id
  .row
    - PurolandGreeting::Schedule.months.each_with_index do |month, index|
      - next_month = month >> 1
      - schedule_days = character.greetings.active.joins(:schedule).where('date >= ? AND date < ?', month, next_month).select("DATE_PART('day', date) AS day").group("DATE_PART('day', date)").where('place_id <> ?', food_machine_restaurant).order('day').map {|c| month + (c.day.to_i - 1) }
      %section.col-sm-6.col-md-4
        %h3= month.strftime('%Y/%m')
        != calendar(month) {|day| schedule_days.include?(day) && { href: day.strftime('/schedule/%Y/%m/%d/') } }

      - if index % 3 == 2
        .clearfix.visible-md-block.visible-lg-block
      - if index % 2 == 1
        .clearfix.visible-sm-block
