%header.page-header
  %h1 Puroland Greeting

%p
  - if today_schedule
    %a.btn.btn-primary.btn-lg{href: today_schedule.date.strftime('/schedule/%Y/%m/%d/')}
      #{today.strftime('%Y/%m/%d')} の予定
  - else
    %a.btn.btn-primary.btn-lg.disabled
      #{today.strftime('%Y/%m/%d')} の予定

%section
  %h2 カレンダー
  .row
    - months.each do |month|
      - dates = schedules.by_month(month).map(&:date)
      %section.col-sm-6.col-md-4
        %h3= month.strftime('%Y/%m')
        != calendar(month) {|date| dates.include?(date) && { href: date.strftime('/schedule/%Y/%m/%d/') } }

%section
  %h2 キャラクター
  .list-group
    - characters.each do |character|
      %a.list-group-item{href: "/character/#{character.name}/"}= character.name
