%article
  %h1= schedule.date.strftime('%m/%d のグリーティング')

  - unless in_session.empty?
    %section.greetings.greetings-in-session
      %h1 開催中のグリーティング
      != haml :'_partial/greetings', layout: false, locals: { greetings: in_session }

  - unless before_the_start.empty?
    %section.greetings.greetings-before-the-start
      %h1 開始前のグリーティング
      != haml :'_partial/greetings', layout: false, locals: { greetings: before_the_start }

  - unless after_the_end.empty?
    %section.greetings.greetings-after-the-end
      %h1 終了したグリーティング
      != haml :'_partial/greetings', layout: false, locals: { greetings: after_the_end }

  - unless deleted.empty?
    %section.greetings.greetings-deleted
      %h1 中止されたグリーティング
      != haml :'_partial/greetings', layout: false, locals: { greetings: deleted }
