:javascript
  window.DATA = {
    type: 'schedule',
    greetings: #{greetings},
    date: '#{schedule.date.strftime('%F')}'
  };

%header.page-header
  %h1 #{schedule.date.strftime('%Y/%m/%d')} の予定

%ul.nav.nav-tabs.nav-justified
  %li#timetable-tab
    %a{href: '#timetable/'} タイムテーブル
  %li#character-tab
    %a{href: '#character/'} キャラクター

#contents
  #timetable
    %section.greeting-category.greeting-category-in-session
      != haml :'_partial/greetings', layout: false, locals: { data: 'groupedGreetingsInSession', panel: 'panel-primary', title: '開催中' }

    %section.greeting-category.greeting-category-before-the-start
      != haml :'_partial/greetings', layout: false, locals: { data: 'groupedGreetingsBeforeTheStart', panel: 'panel-info', title: '開始前' }

    %section.greeting-category.greeting-category-after-the-end
      != haml :'_partial/greetings', layout: false, locals: { data: 'groupedGreetingsAfterTheEnd', panel: 'panel-success', title: '終了' }

    %section.greeting-category.greeting-category-deleted
      != haml :'_partial/greetings', layout: false, locals: { data: 'groupedGreetingsDeleted', panel: 'panel-default', title: '中止' }

  #character
    %section
      %h2 キャラクター
      .list-group
        %template{:'v-for' => 'group in groupedGreetingsByCharacter'}
          %a.list-group-item{'v-bind:href' => "'#character/' + group.character.name + '/'"}
            {{ group.character.name }}
            %span.badge {{ group.greetings.length }}

      %h2 スケジュール
      .row
        %template{:'v-for' => '(group, index) in groupedGreetingsByCharacter'}
          %section.col-sm-6.col-md-4{'v-bind:name' => "'character/' + group.character.name + '/'"}
            .panel.panel-info
              .panel-heading
                %h3.panel-title {{ group.character.name }}
              .list-group
                %a.list-group-item{:'v-for' => 'greeting in group.greetings', :'v-bind:href' => "'#timetable/' + greeting.start_at + '-' + greeting.end_at + '-' + greeting.place.name + '/'"}
                  {{ greeting.place.name }}
                  %br
                  %small {{ greeting.start_at | formatTime }}-{{ greeting.end_at | formatTime }}

          .clearfix.visible-md-block.visible-lg-block{:'v-if' => 'index % 3 == 2'}
          .clearfix.visible-sm-block{:'v-if' => 'index % 2 == 1'}
