%header.page-header
  %h1= schedule.date.strftime('%Y/%m/%d')

%section.greeting-category.greeting-category-in-session
  %h2 開催中
  .greetings
    != haml :'_partial/greetings', layout: false, locals: { greetings: in_session, panel: 'panel-primary' }

%section.greeting-category.greeting-category-before-the-start
  %h2 開始前
  .greetings
    != haml :'_partial/greetings', layout: false, locals: { greetings: before_the_start, panel: 'panel-info' }

%section.greeting-category.greeting-category-after-the-end
  %h2 終了
  .greetings
    != haml :'_partial/greetings', layout: false, locals: { greetings: after_the_end, panel: 'panel-success' }

%section.greeting-category.greeting-category-deleted
  %h2 中止
  .greetings
    != haml :'_partial/greetings', layout: false, locals: { greetings: deleted, panel: 'panel-default' }
