%header.page-header
  %h1 #{schedule.date.strftime('%Y/%m/%d')} の予定

%ul.nav.nav-tabs.nav-justified
  %li#timetable-tab
    %a{href: '#timetable/'} タイムテーブル
  %li#character-tab
    %a{href: '#character/'} キャラクター
  - if is_today
    %li#twitter-tab
      %a{href: '#twitter/'} Twitter

#timetable
  %section.greeting-category.greeting-category-in-session
    %h2 開催中
    .greetings
      != haml :'_partial/greetings', layout: false, locals: { greetings: in_session, panel: 'panel-primary' }

  %section.greeting-category.greeting-category-before-the-start
    %h2 開始前
    .greetings
      != haml :'_partial/greetings', layout: false, locals: { greetings: before_the_start, panel: 'panel-info' }

  %section.greeting-category.greeting-category-after-the-end
    %h2 終了
    .greetings
      != haml :'_partial/greetings', layout: false, locals: { greetings: after_the_end, panel: 'panel-success' }

  %section.greeting-category.greeting-category-deleted
    %h2 中止
    .greetings
      != haml :'_partial/greetings', layout: false, locals: { greetings: deleted, panel: 'panel-default' }

#character
  %section
    %h2 キャラクター
    .list-group
      - characters.each do |character|
        %a.list-group-item{href: "#character/#{character.name}/"}
          = character.name
          %span.badge= schedule.greetings.active.joins(:characters).where('characters.id = ?', character.id).count(:id)

  %section
    %h2 スケジュール
    .row
      - characters.each_with_index do |character, index|
        %section.col-sm-6.col-md-4{name: "character/#{character.name}/"}
          .panel.panel-info
            .panel-heading
              %h3.panel-title= character.name
            .list-group
              - greetings.joins(:characters).where('characters.id = ?', character.id).order('end_at, start_at').each do |greeting|
                %a.list-group-item{href: "#timetable/#{greeting.start_at.strftime('%H%M')}-#{greeting.end_at.strftime('%H%M')}-#{greeting.place.name}/"}
                  = greeting.place.name
                  %br
                  %small #{greeting.start_at.strftime('%H:%M')}-#{greeting.end_at.strftime('%H:%M')}
        - if index % 3 == 2
          .clearfix.visible-md-block.visible-lg-block
        - if index % 2 == 1
          .clearfix.visible-sm-block

- if is_today
  #twitter
    %section
      %h2 知らせる
      %p キャラクターと会ったことをハッシュタグ <a href="https://twitter.com/search?q=%23%E3%83%94%E3%83%A5%E3%83%BC%E3%83%AD%E3%82%B0%E3%83%AA&src=typd&vertical=default&f=tweets">#ピューログリ</a> で共有しませんか。

      != haml :'_partial/report'

      %h2 見つける
      %p みんなの投稿を見ることができます。
      %p
        %a.btn.btn-block.btn-default{target: '_blank', href: 'https://twitter.com/search?q=%23%E3%83%94%E3%83%A5%E3%83%BC%E3%83%AD%E3%82%B0%E3%83%AA&src=typd&vertical=default&f=tweets'}
          Twitter (#ピューログリ)
