%header
  %h1.page-header 統計

%section
  %h2 グリーティング数

  .scrollable-table-wrapper
    %table.table.table-striped.table-bordered.table-condensed
      %caption 月別
      %thead
        %tr
          %th
          - (1..12).each do |i|
            %th= '%02d' % i
      %tbody
        - count_by_month.group_by {|item| item.year }.each do |year, items|
          %tr
            %th= '%04d' % year
            - (1..12).each do |i|
              - if item = items.find {|it| it.month == i }
                %td.table-cell-number= currency item.appearances
              - else
                %td

  %table.table.table-striped.table-bordered.table-condensed
    %caption キャラクター別
    %thead
      %tr
        %th キャラクター
        %th 回数
    %tbody
      - ranking.each do |item|
        %tr
          %td
            %a{href: "/character/#{item.name}/"}= item.name
          %td.table-cell-number= currency item.score
